.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  box-shadow: 0 0 10px 0 rgba(141,154,169,0.5);
  padding: 2rem 0;
}

.login-form input {
  padding: 3px 5px;
  font-size: 1.5em;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-container label {
  min-width: 5rem;
}
