.root_container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 5rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.jwt {
  font-size: 2rem;
}

.reviewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewContainer .emojie {
  font-size: 2rem;
  margin-left: 1rem;
}

.reviewsBody .commentText {
  font-size: 1.2rem;
}

.filterTheme {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
